/* app/static/css/style.css */
// @import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {

    width: 100%;
    height: 100%;
    background: #78A4DA;

    body, h1, h2, h3, a {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    header {

      nav {
        height: auto !important;
        background-image: linear-gradient(black, rgb(9, 24, 29));
        border-bottom-style: none;
        border-color: black;
        align-items: center;

        display: flex;
        justify-items: auto;
        justify-content: space-between;
      
        vertical-align: middle;
        
        .topnav {

          .collapse {

            ul {

              li {
                font-size: 16px !important;
              }

              li:hover {
                background: #20201f;
                
              }
              
              li a {
                list-style: none;
                color:#f8f8f8 !important;
                font-size: 16px !important;
              }
              
            }
          }
          
        }
      }

      
      .topnav {
        border-bottom-left-radius: .48em;
        border-bottom-right-radius: .48em;
        border-bottom-style: hidden;
      }

      .dropdown-menu {
        background-color: inherit;
        background: linear-gradient(black, rgb(9, 24, 29));;
        // display: flex;
        flex-direction: column;
        // max-width: 10px;
        a {
          color: whitesmoke;
          // padding: 10px;
          margin: 20px;
          padding-top: 20px;
          text-align: center;
          max-width: 10px;
          float: center;
          align-items: center;
        }

      }

    }
    
  
    a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
      color: white;
    }
    
    a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
      color: #FF8000;
    }
  

    h2.villaFeat {
      font-family: "Josefin Sans",sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: rgb(218, 218, 218);
    }
  
    h1, h2 {
      text-transform: uppercase;
    }
  
    .wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      // margin: 0 auto -4em;
      margin: auto;
      z-index: 1;

      width: 100% !important;

      .pull-left {
        font-size: 1.8rem;
        text-align: left;
        line-height: 2;
      }

      #pictures {

        // width: 55px;
        // border: 1px solid whitesmoke;
        align-self: center;
        // margin-left: 48%;
        z-index: 3 !important;

        // a {
         
        // }
        
      }
    }
  
    .search-cover-photo-container, .heroBg {
        background-attachment: fixed !important;
    }

    .heroBg {

      background: #111 url(/img/15.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      

      // EDIT FOR WIDESCREEN
      // background-size: cover;

      background-size: auto auto;

      position: relative;
      height: auto;
      grid-area: auto;

    }
    
    .heroGrid {
      background: rgba(0,0,0,0.4) !important;
      display: grid;
      grid-auto-flow: dense;
    }

    
    @media screen and (max-width: 680px) {
      .heroGrid {
        background: rgba(0,0,0,0.4) !important;
      }
    }

  
    .alert-info {
      width: 50%;
      margin: auto;
      color: tomato;
      background-color: #e6ecca;
      border-color: wheat;
    }
    
    .btn-default {
      border-color: skyblue;
      color: skyblue;
    }
    
    .btn-default:hover {
      background-color: skyblue;
    }
    
    .center {
      margin: auto;
      width: 50%;
      padding: 10px;
    }
    
    .content-section {
      padding: 1% 0;
      border-top: 1px solid #e7e7e7;
    }
    
    .intro-divider {
      width: 20rem;
      border-top: 1px solid #f8f8f8;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    
    .intro-header {

      text-align: center;
      color: #f8f8f8;
      background-size: cover;
      // height: 100%;
      height: auto;
    }
    
    .intro-message {
      position: relative;
      padding-top: 28% !important;
      padding-bottom: 28% !important;
    }
    
    .intro-message > h1 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      font-size: 4.2em !important;
    }
    
    .intro-message > h3 {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    
    .lead {
      font-size: 18px;
      font-weight: 400;
    }
    
    .marketing {
     
      height: auto;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: black;
      box-sizing: border-box;
      padding-right: 15px;

      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      margin-top: auto;
      // z-index: 2;

      section {
        padding-top: 4rem;
        // padding-bottom: 30px;
      }

    }

    .justified-gallery {
      width: 100%;
      position: relative;
      overflow: hidden;
    }
  
    #singleProperty #map {
      width: 100%;
      height: 500px;
    }
  
    .card {
      position: sticky;
      top: 50%;
      left: 50%;
      width: 28rem;
      height: 28rem;
      margin: -150px;
      float: left;
      perspective: 500px;
    }
    
    .content {

      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    
      transition: transform 1s;
      transform-style: preserve-3d;
      
    }
    
    .card:hover .content {
      transform: rotateY( 180deg ) ;
      transition: transform 0.5s;
    }
    
    .front,
    .back {
      position: absolute;
      height: 100%;
      width: 100%;
      background: white;
      line-height: 98px;
      color: #03446A;
      text-align: center;
      font-size: 40px;
      border-radius: 5px;
      backface-visibility: hidden;
    }
    
    .back {

      background: #03446A;
      color: whitesmoke;
      transform: rotateY( 180deg );

      font-size: 2rem;
      line-height: 48px;

    }

    .front {
      text-align: center;
      vertical-align: middle;
    }

    .structure {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 100%;
      
      align-items: center;
      justify-content: center;

      // z-index: 2;

      .view {

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 28rem;
      
        text-align: center;
    
        float: left;

        margin-bottom: 20px;
        padding-bottom: 1.8rem;

        height: auto;
      
        background-color: white;
        // z-index: 5;
        position: relative;

        border-radius: 4px;
      }
      
      h2 {
        font-size: 20px;
      }

      .price {
        color: grey;
        font-size: 18px;
      }
      
      .view button {
        border: none;
        outline: 0;
        padding: 10px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 80%;
        font-size: 18px;

        border-radius: 2px;

        z-index: 3;
      }
      
      .view button:hover {
        opacity: 0.7;
      }  

      .middle {
            
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
        // height: 28rem;
        height: auto;
    
        // top: 80%;
        // bottom: 20%;

        // display: inline-block;
        // align-self: flex-end;

        // max-width: 40rem;
        text-align: center;
        align-items: center;
        align-content: center;
      
        font-size: 1.8rem;
        // background-color: white;
    
        // padding: 1rem;
    
        // border-bottom: 4px solid rgb(235, 228, 228);
        // border-bottom-left-radius: 2px;
        // border-bottom-right-radius: 2px;
        
        #reason {
          color: whitesmoke;
    
        }

        #benefits {
          margin: 0;
          text-align: center;
  
        }
    
        div.green {
          color: green;
          color: yellowgreen;
          color: #442505;
        }
        
        hr {

          color: whitesmoke;
          width: 22rem;
          // border-bottom: 1px dashed whitesmoke;
          padding-top: -70px;
          border-style: dashed;

        }

      }

      .middle {
        margin-bottom: 20px;
      }

      .right {

        z-index: 1;

        margin-bottom: 20px;

        max-width: 28rem;
        width: 90%;
        height: auto;

        align-items: center;
        justify-content: center;

      }
    
      form {
    
        // display: block;
        border: 1px solid transparent;
        text-align: center;
        
        border-radius: 4px;

        align-items: center;
        justify-content: center;

        background-color: white;

        h3 {

          font-family: "Josefin Sans",sans-serif;
          font-weight: 20;
          font-size: 2rem;

          padding: 1rem;

          margin-right: 2rem;
          margin-left: 2rem;
          margin-bottom: 2rem;

          border-radius: 2px;

          color: black;
          border: 1px dashed black;
          opacity: .8;

        }
    
        p {
          font-family: "Josefin Sans",sans-serif;
          font-weight: 20;
          font-size: 1.60rem;
          color: #0a59b9;
          // opacity: .8;
        }
        
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: black;
          opacity: .5; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: black;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
          color: black;
        }

        input {
    
          width: 88%;
          padding: .8rem;
          margin: .8rem;

          // background-color: #78A4DA;
          background-color: transparent;

          color: black;

          border-style: none;
          border-bottom: 1px solid black;

          border-radius: 2px;

          font-size: 1.55rem;
          text-align: center;

          z-index: 3 !important;
          
        }
    
        input[type=submit] {
          background-color: #FF8000;
          color: whitesmoke;
          border-style: none;
          padding: 1rem;
          margin-bottom: 2rem;

        }
        
        input[type=tel]{
          width: 246px !important;
          padding: .8rem;
          margin: .8rem;
        }

        #okay {
          padding: 10px;
          font-size: 28px;
          color: rgb(2, 68, 2);
        }

        .feedback {
          padding: 10px;
          font-size: 18px;
          color: rgb(6, 108, 116);
          // font-weight: bold;
          text-align: center
        }
        
      }

    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {

      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 1.8;

      background-color: white;
      color: rgb(12, 67, 88);

      cursor: pointer;
      padding-left: 20px;
      padding-top: 18px;
      padding-bottom: -42px;
      padding-right: 18px;

      width: 100%;
      border: none;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;

      text-align: center;

      outline: none;
      font-size: 1.7rem;
      margin: auto;
      // margin-top: 20px;
      z-index: 1;
    }
  
    .s-content {
      
      display: flex;
      flex-direction: column;

      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 1.8;
  
      width: 100%;
      border: none;
      
      list-style: none;
      margin: auto;

      color: rgb(12, 67, 88);
      
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      // text-align: left;
      outline: none;

      font-size: 1.7rem;
      text-align: center;

      padding-left: 12px;
      padding-top: 18px;

      padding-right: 12px;

      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      z-index: 0;
      
      .sections {

        display: flex;
        flex-direction: column;

        justify-content: center;
        flex-wrap: wrap;
        // padding: 18px;
    
        hr {
          padding: 4px;
        }
    
        .first {
          justify-content: center;
          // max-width: 40%;
        }
    
        .second {
          // justify-content: flex-end;
        }
    
      }
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
      background-color: rgb(188, 221, 235);
      // background-color: #488FC4;
    }

    .collapsible:after {

      content: '\02795'; /* Unicode character for "plus" sign (+) */
      font-size: 14px;
      color: white;
      float: right;
      margin-left: 5px;

      z-index: 3;

    }
    
    .active:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */

      z-index: 3;
    }

    /* section {
      position: static;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: lavender;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    
    section span {
      position: absolute;
      bottom: -50px;
      background: transparent;
      border-radius: 50%;
      pointer-events: none;
      -webkit-box-shadow: inset 0 0 10px rgba(225, 225, 225, 0.5);
              box-shadow: inset 0 0 10px rgba(225, 225, 225, 0.5);
      -webkit-animation: animate 4s linear infinite;
              animation: animate 4s linear infinite;
    }
    
    section span::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transform: scale(0.25) translate(-70%, -70%);
              transform: scale(0.25) translate(-70%, -70%);
      background: radial-gradient(#ffffff, transparent);
      border-radius: 50%;
    }
    
    @-webkit-keyframes animation {
      0% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        opacity: 1;
      }
      99% {
        opacity: 1;
      }
      100% {
        -webkit-transform: translateY(-1200%);
                transform: translateY(-1200%);
        opacity: .1;
      }
    }
    
    @keyframes animation {
      0% {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
        opacity: 1;
      }
      99% {
        opacity: 1;
      }
      100% {
        -webkit-transform: translateY(-1200%);
                transform: translateY(-1200%);
        opacity: .1;
      }
    } */
    /*# sourceMappingURL=style.css.map */

    .reviews {
      
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 1.8;
  
      width: 100%;
      border: none;
      
      list-style: none;
      margin: auto;

      color: rgb(12, 67, 88);
      
      // text-align: left;
      outline: none;

      font-size: 1.7rem;
    
      padding-left: 20px;
      padding-top: 18px;
      padding-bottom: 20px;
      padding-right: 18px;
      background-color: white;
      // max-height: 0;

        .review {
          margin-top: 10px; 

          .title {
            color: tomato;
          }
        }

    }

    #gallery {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin-top: 30px;
      // margin-bottom: 30px;

      width: 100%;

      div.gallery {
        margin: 1.2px;
        border: 1px solid #ccc;
        float: left;
        width: 49%;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;

        z-index: 3;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }

      div.larger {
        // width: 49.4%;
        float: right;
      }

    }

    /* Set the size of the div element that contains the map */
    #map {

      margin-top: 1rem;
      // margin-bottom: 15px;

      height: 400px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */

      z-index: 3;
    }

    footer {

      background-image: linear-gradient(black, rgb(9, 24, 29));
      color: black;
      height: auto;

      top: 100;

      margin: 0;
      margin-top: 1rem;
      margin-bottom: 0;

      display: flex;
      flex-direction: row;

      text-align: center;

      border-top-left-radius: .48em;
      border-top-right-radius: .48em;
      border-top-style: hidden;
    }
    
    p.copyright {
      padding: 10px;
      font-size: 16px;
      text-align: center;
    }
    
    ul#footer-list {

      align-items: center;
      vertical-align: middle;
      padding-top: 18px;

      text-align: center;

      z-index: 3;

      li a {
        list-style: none;
        color:#f8f8f8 !important;
        font-size: 16px;
      }
    }

    .footer-menu-divider {
      font-size: 22px;
    }

    .footer, .push {
      clear: both;
      height: 4em;
    }
 
    
    /* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {
      
      header nav {
        // height: 5.8rem !important;
      }

      .heroBg {
        background-size: cover !important;
      }
      
      .intro-message {
        padding-top: 20% !important;
        padding-bottom: 3% !important;
      }

      #marketing {

        // margin: auto !important;

        .structure{

          justify-content: space-between;

          .view {

            max-width: 33rem;

          }

          .middle {
           

          }

          .right {

            max-width: 33rem;
    
          }
        
          form {
        
            input[type=submit] {
              padding: 1.2rem;
              margin-bottom: 2rem;
            }
            
            input[type=tel]{
              width: 280px !important;
            }
    
            #okay {
              padding: 10px;
              font-size: 28px;
            }
    
            .feedback {
              padding: 10px;
              font-size: 18px;
            }
            
          }
  
        }

      }
      
      #gallery {

        div.gallery {
          margin: 1.2px;
          width: 32.6%;
        }
        
        div.gallery:hover {
          border: 1px solid #777;
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
  
        div.larger {
          width: 49%;
          float: right;
        }
  
      }
      
    }

    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {

      header nav {
        height: 5.8rem !important;
      }

      .heroBg {
        background-size: cover !important;
      }
      
      .intro-divider {
        width: 58rem !important;
      }
      
      .intro-message {
     
        padding-top: 20% !important;
        padding-bottom: 8% !important;
        
      }

      #marketing {

        margin: auto !important;

        .structure{

          flex-direction: row;
          justify-content: space-between;

          .view {

            max-width: 30rem;

            .second-middle {

              display: unset!important;

              hr {
                width: 88%;
              }

            }

          }

          .middle {
            display: none !important;

          }

          .right {

            max-width: 30rem;
    
          }
        
          form {
        
            input[type=submit] {
              padding: 1.2rem;
              margin-bottom: 2rem;
            }
            
            input[type=tel]{
              width: 260px !important;
            }
    
            #okay {
              padding: 10px;
              font-size: 28px;
            }
    
            .feedback {
              padding: 10px;
              font-size: 18px;
            }
            
          }
  
        }

      }
      
      #gallery {

        div.gallery {
          margin: 1.2px;
          width: 24.5%;
        }
        
        div.gallery:hover {
          border: 1px solid #777;
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
  
        div.larger {
          // width: 49.4%;
          float: right;
        }
  
      }
      
    }

    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      
      header nav {
        height: 5.8rem !important;
      }

      .heroBg {
        background-size: cover !important;
      }
      
      .intro-divider {
        width: 58rem !important;
      }
      
      .intro-message {

        padding-top: 20% !important;
        padding-bottom: 8% !important;
        
      }

      #marketing {

        margin: auto !important;

        .structure{

          flex-direction: row;
          justify-content: space-between;

          .view {

            max-width: 30rem;

            .second-middle {

              display: unset!important;

              hr {
                width: 88%;
              }

            }

          }

          .middle {
            display: none !important;

          }

          .right {

            max-width: 30rem;
    
          }
        
          form {
        
            input[type=submit] {
              padding: 1.2rem;
              margin-bottom: 2rem;
            }
            
            input[type=tel]{
              width: 260px !important;
            }
    
            #okay {
              padding: 10px;
              font-size: 28px;
            }
    
            .feedback {
              padding: 10px;
              font-size: 18px;
            }
            
          }
  
        }

      }
      
      #gallery {

        div.gallery {
          margin: 1.2px;
          width: 24.5%;
        }
        
        div.gallery:hover {
          border: 1px solid #777;
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
  
        div.larger {
          // width: 49.4%;
          float: right;
        }
  
      }
      
    }

    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {
      
      header nav {
        height: 5.8rem !important;
      }

      .heroBg {
        background-size: cover !important;
      }
      
      .intro-divider {
        width: 38rem !important;
      }
      
      .intro-message {
        position: relative;
        padding-top: 20% !important;
        padding-bottom: 20% !important;
      }
      
      #marketing {

        .structure {
          flex-direction: row !important;
          justify-content: space-between;
  
          .view {
            max-width: 33rem;
          }
  
          .right {
            max-width: 33rem;

            form {

              input[type=tel] {

                width: 287px !important;

              }

            }

          }
          
        }
  
        /* Style the button that is used to open and close the collapsible content */
        .collapsible {
  
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          line-height: 1.8;
  
          color: rgb(12, 67, 88);
  
          cursor: pointer;
          padding-left: 38px;
          padding-top: 30px;
          padding-bottom: -12px;
          padding-right: 20px;
  
          width: 100%;

          text-align: left;

          font-size: 1.80rem;
          margin: auto;
  
        }
  
        .s-content {
          
          display: flex;
          flex-direction: column;
  
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          line-height: 1.8;
      
          width: 100%;
     
          margin: auto;
  
          color: rgb(12, 67, 88);
          
          border-bottom-right-radius: 1rem;
          border-bottom-left-radius: 1rem;
          // text-align: left;
  
          font-size: 1.80rem;
        
          padding-left: 38px;
          padding-top: 20px;
          // padding-bottom: -20px;
          padding-right: 20px;
  
          .sections {
  
            display: flex;
            flex-direction: row;
  
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 18px;
        
            hr {
              padding: 4px;
            }
        
            .first {
              justify-content: flex-start;
              max-width: 42%;
            }
  
            .second {
              max-width: 48%;
            }
        
          }
  
        }
  
        .reviews {
        
          margin: auto;
      
          font-size: 1.80rem;
        
          padding-left: 38px;
          padding-top: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
          background-color: white;
          // max-height: 0;
      
            .review {
              margin-top: 10px; 
      
              .title {
                color: tomato;
              }
            }
      
        }

      }
      
      #gallery {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        width: 100%;
    
        div.gallery {
          margin: 1.5px !important;
          border: 1px solid #ccc;
          float: left;
          width: 19.6%;
        }
        
        div.gallery:hover {
          border: 1px solid #777;
        }
        
        div.gallery img {
          width: 100%;
          height: auto;
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
    
        // div.larger {
        //   width: 49.4% !important;
        //   float: right;
        // }

      }
    
      /* Set the size of the div element that contains the map */
      #map {
    
        height: 500px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }

    }

    @media (min-width: 1281px) {
    
      header nav {
        height: 5.8rem !important;
      }

      .heroBg {
        background-size: cover !important;
      }
      
      .intro-divider {
        width: 38rem !important;
      }
      
      .intro-message {
  
        padding-top: 20% !important;
        padding-bottom: 12% !important;
       
      }
      
      .structure {

        display: flex;
        flex-direction: row !important;

        // flex-direction: column;
        justify-content: space-between;
        align-content: stretch;
        // width: 100%;
        
        .view {

          max-width: 33rem;
    
          align-self: flex-start;
          margin: 0;

          float: left;

        }
        
        .price {
          font-size: 18px;
        }
        
        .view button {
      
          padding: 12px;
        
          cursor: pointer;
          width: 80%;
          font-size: 18px;

        }
        
        .middle {
              
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
      
          height: auto;
      
          // top: 80%;
          // bottom: 20%;
    
          display: inline-block;
          align-self: center;
    
          font-size: 1.8rem;

          // padding: 1.8rem;
    
          // hr {

          // }

        }
    
        .right {

          display: inline-block;
          align-self: flex-start;
          margin: 0;

          max-width: 34.8rem !important;
          
        }
      
        form {

          h3 {
            font-size: 2.60rem;
          }
      
          p {
            font-size: 1.6rem;
          }
    
          input {
      
            width: 88%;
            padding: .6rem;
            margin: .6rem;

            font-size: 1.7rem;
            text-align: center;
            
          }
      
          input[type=submit] {
            padding: 1rem;
            margin-top: 1.4rem;
            margin-bottom: 1.8rem;
          }
          
          input[type=tel]{
            width: 307px !important;
            padding: .6rem;
            margin: .6rem;
          }

          input[type=text] {
            padding: .6rem !important;
            margin: .6rem !important;
          }
          
        }
    
      }
    
      /* Style the button that is used to open and close the collapsible content */
      .collapsible {
    
        cursor: pointer;
        padding-left: 38px;
        padding-top: 30px;
        padding-bottom: -12px;
        padding-right: 20px;
    
        text-align: left;
      
        font-size: 1.80rem;
        margin: auto;
    
      }
    
      .s-content {
        
        display: flex;
        flex-direction: column;
    
        margin: auto;

        font-size: 1.80rem;
        text-align: left;

        padding-left: 38px;
        padding-top: 20px;
        padding-bottom: -20px;
        padding-right: 20px;
    
        .sections {
    
          display: flex;
          flex-direction: row;
    
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 18px;
      
          // hr {
          //   padding: 4px;
          // }
      
          .first {
            justify-content: flex-start;
            max-width: 40%;
          }
      
          .second {
            // justify-content: flex-end;
          }
      
        }

      }
    
      .reviews {
      
        margin: auto;
    
        font-size: 1.80rem;
      
        padding-left: 38px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        background-color: white;
        // max-height: 0;
    
          .review {
            margin-top: 10px; 
    
            .title {
              color: tomato;
            }
          }
    
      }
    
      #gallery {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        width: 100%;
    
        div.gallery {
          margin: 1.5px !important;
          border: 1px solid #ccc;
          float: left;
          width: 16.33%;
        }
        
        div.gallery:hover {
          border: 1px solid #777;
        }
        
        div.gallery img {
          width: 100%;
          height: auto;
        }
        
        div.desc {
          padding: 15px;
          text-align: center;
        }
    
        div.larger {
          width: 49.4% !important;
          float: right;
        }
      }
    
      /* Set the size of the div element that contains the map */
      #map {
    
        height: 500px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    
      // footer {
    
      //   // height: 40vh;
      //   margin: auto;
      // }

    }
   

}
  
.iti__flag {background-image: url("./app/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("./app/build/img/flags@2x.png");}
}

// workaround
.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

// DATE PICKER CLASSES
.ui-datepicker-header {
  width: auto;
  font-size: 1.5rem;
  height: auto;
  
}
.ui-datepicker-calendar {
  // width: 30rem;
  font-size: 1.5rem;
  height: auto;
}
.ui-datepicker-title {
  color: #03446A;
}

.ui-datepicker-week-end {
  color: orangered;
}

.ui-datepicker-today {
  color: #FF8000;
}

.ui-datepicker-unselectable {
  opacity: .5;
}

// MEDIA QUERIES

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}





body {
	// background: #00b4ff;
	// color: #333;
	font: 100% Lato, Arial, Sans Serif;
	// height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
  height: 100px;
	position: absolute;
  width: 100px;
  
  // z-index: 1;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
  height: 90px;
	left: 10px;
	position: absolute;
	width: 90px;
}